<html><title>Employee Management System</title>
    <body>
        <h1>Hello Vandana !!!</h1>
        <div class="container">
            <h1>Office Employee Management System</h1>
            <hr>
            <a class="btn btn-primary" href="/All_employee" role="button">View all Employee</a><br>
            <a class="btn btn-primary" href="/Add_employee" role="button">Add Employee</a><br>
            <a class="btn btn-primary" href="/Remove_employee" role="button">Remove Employee</a><br>
            <a class="btn btn-primary" href="/Filter_employee" role="button">Filter Employee Details</a>

        </div>
    </body>
</html>
