<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Remove Employee</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
       <div class='container'>
        <h1>Remove an Employee</h1>
        <hr>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose an employee to remove
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for emp in emps %}
              <a class="dropdown-item" href="/Remove_employee/{{emp_id}}">{{emp.first_name}} {{emp.last_name}}</a>
                {% endfor %}
            </div>
          </div>
    </body>
</html>
